[MASTER]
ignore=.git,.pytest_cache

[BASIC]
no-docstring-rgx=^(_|test_|setUp|tearDown|setUpClass|tearDownClass|visit_).*
method-naming-style=any
const-naming-style=any

[DESIGN]
min-public-methods=1
max-public-methods=60
max-args=8
max-positional-arguments=8
max-locals=20
max-branches=20
max-returns=20
max-module-lines=2000

[EXCEPTIONS]
overgeneral-exceptions=builtins.BaseException

[IMPORTS]
allow-any-import-level=multilingualprogramming

[CLASSES]
exclude-protected=_asdict,_fields,_replace,_source,_make,os._exit,_count_open_brackets,_handle_command
